<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="people"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button><ion-tab-button tab="home">
      <ion-icon name="at-outline"></ion-icon>
      <ion-label>At</ion-label>
    </ion-tab-button><ion-tab-button tab="home">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>Apps</ion-label>
    </ion-tab-button><ion-tab-button tab="home">
      <ion-icon name="archive-outline"></ion-icon>
      <ion-label>Archive</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
