<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img src="https://gitlab.com/uploads/-/system/project/avatar/18818040/Screenshot_2.png?width=64" alt="Ionic logo"/>
  </div>

  <form novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">Username</ion-label>
        <ion-input name="username" type="text" spellcheck="false" autocapitalize="off" required>
        </ion-input>
      </ion-item>

      <!--<ion-text color="danger">
        <p class="ion-padding-start"> Username is required</p>
      </ion-text>-->

      <ion-item>
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input name="password" type="password" required></ion-input>
      </ion-item>

      <!--<ion-text color="danger">
        <p class="ion-padding-start"> Password is required </p>
      </ion-text>-->
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Create</ion-button>
        <ion-button type="button" color="light" expand="block" routerLink="/login">Already have an account ?
        </ion-button>

      </ion-col>


    </ion-row>
  </form>
</ion-content>
